*{
  margin: 0px;
  padding: 0px;
}
.wrapper{
  background-image: url(../src/static/img/memory.jpeg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}